<!-- -->
<launch>
 <arg name="robot_namespace" default="scout"/>
<!--arg name="fcu_url" default= "udp://:14540@127.0.0.1:14557"/-->
<arg name="fcu_url" default= "udp://:14540@127.0.0.1:14580"/>
<arg name="gcs_url" default="" />
<arg name="tgt_system" default="1" />
<arg name="tgt_component" default="1" />
<arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
<arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />

<group ns="$(arg robot_namespace)">
	<node name="mavros" pkg="mavros" type="mavros_node" output="screen">
		<param name="fcu_url" value="$(arg fcu_url)" />
		<param name="gcs_url" value="$(arg gcs_url)" />
		<param name="system_id" value="1" />
		<param name="target_system_id" value="$(arg tgt_system)" />
		<param name="target_component_id" value="$(arg tgt_component)" />
                <!-- load blacklist, config -->
		<rosparam command="load" file="$(arg pluginlists_yaml)" />
		<rosparam command="load" file="$(arg config_yaml)" />

		<!--rosparam command="load" file="$(find mavros)/launch/px4_blacklist.yaml"-->

		<!-- enable heartbeat send and reduce timeout -->
		<!--param name="conn_heartbeat" value="5.0" />
		<param name="conn_timeout" value="5.0" /-->
		<!-- automatically start mavlink on USB -->
		<param name="startup_px4_usb_quirk" value="true" />
		<param name="mocap/use_tf" value="false"/>
		<param name="mocap/use_pose" value="false"/>
	</node>
	<param name="tf_prefix" value="$(arg robot_namespace)"/>
</group>

 <include file="$(find mavros_control)/launch/frame_renaming.launch">
    <arg name="robot_namespace" value="$(arg robot_namespace)" />
 </include>

 <node name="imu_relay" type="relay" pkg="topic_tools" args="/scout/mavros/imu/data_raw /scout/imu" />
</launch>
