<!-- -->
<launch>
	<!--arg name="sensor_type" default="Evo_3m"/>
	<arg name="output" default="screen"/-->
<arg name="robot_namespace" default="scout" />
	<node name="tf_listener" pkg="tf_listener" type="tf_listener" output="screen" clear_params="true" ns="$(arg robot_namespace)">     	
	</node>

</launch>

